* {
  font-family: Playfair Display, Open Sans, Roboto Slab, Arial, Helvetica, sans-serif;
}
.social-media {
  color: rgb(131, 131, 131);
}
.social-link {
  margin-right: 20px;
  font-size: 30px;
  color: rgb(131, 131, 131);
}
.social-link:hover {
  color: aquamarine;
}

.center {
  align-self: center;
}
