@import '~bootstrap/scss/bootstrap';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  font-family: Playfair Display, Open Sans, Roboto Slab, Arial, Helvetica, sans-serif;
}

.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // background-color: green;
}
.page-layout {
  height: 100%;
  width: 100%;
  background-color: rgb(214, 252, 222);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 40px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: pink;
}
a.menu-toggle-btn {
  color: black;
}
a.menu-toggle-btn:hover {
  color: rgba(0, 0, 0, 0.5);
}
.material-icons.md-30 {
  font-size: 30px;
}
.topbar-search {
  display: flex;
  justify-content: center;
}
.topbar-search-input {
  margin-left: 10px;
  border: none;
}
.topbar-search-input:focus {
  outline: none;
}

.side-drawer-ovelay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.side-drawer {
  position: absolute;
  height: 100%;
  width: 400px;
  color: white;
  background-color: black;
}
.side-drawer-close-btn {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  padding-right: 15px;
}
a.menu-close-btn {
  color: rgb(226, 226, 226);
}
a.menu-close-btn:hover {
  color: rgba(226, 226, 226, 0.5);
}
.side-drawer-content {
  padding: 60px 60px;
}
.side-drawer-header {
  padding-right: 20px;
  padding-bottom: 30px;
  border-bottom-color: rgb(131, 131, 131);
  border-bottom-width: 1px;
  // background-color: aquamarine;
}
.side-drawer-header > h4 {
  padding-bottom: 20px;
  font-size: 30px;
}
.side-drawer-message {
  color: rgb(131, 131, 131);
  font-family: Open Sans, Arial, Helvetica, sans-serif;
}
.side-drawer-social {
  padding-top: 30px;
  color: rgb(131, 131, 131);
}
.social-link {
  margin-right: 20px;
  font-size: 30px;
  color: rgb(131, 131, 131);
}
.social-link:hover {
  color: aquamarine;
}
.side-drawer-menu {
  margin-top: 30px;
}
.side-drawer-menu > ul {
  list-style: none;
}
.side-drawer-menu-item {
  padding-bottom: 20px;
  list-style: none;
  font-size: 20px;
}

.home-page {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 254, 192);
}
